<p id=”alert”><%= alert %></p>


<%= form_tag sessions_path do |form| %>

  <nav class="navbar navbar-expand-md bg-primary" id='nBar'>
    <div class="navbar-collapse collapse w-100 order-0 order-md-0 dual-collapse2">
      <ul class="navbar-nav">
        <li class="navbar-brand">
          <a class="nav-link text-dark" href="/">Storinator Management System</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">


    <form>


      <h1>Login</h1>

      </br>
      <div class=”form-group ”>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div class=”field”>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      </br>
      <div class=”actions”>
        <%= submit_tag 'Login', class: 'btn btn-success' %>
      </div>
      <p id=”notice”><%= notice %></p>


    </form>
  </div>

<% end %>

<!--

<input name="utf8" type="hidden" value="&#x2713;"/>
<div class="form-group">
  <label class="required" for="user_email">Email</label>
  <input class="form-control" type="email" value="steve@example.com" name="user[email]"/>
</div>
<div class="form-group">
  <label for="user_password">Password</label>
  <input class="form-control" type="password" name="user[password]"/>
  <small class="form-text text-muted">A good password should be at least six characters long</small>
</div>
<div class="form-check">
  <input name="user[remember_me]" type="hidden" value="0">
  <input class="form-check-input" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
  <label class="form-check-label" for="user_remember_me">Remember me</label>
</div>
<input type="submit" name="commit" value="Log In" class="btn btn-secondary" data-disable-with="Log In"/>
-->
