<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :student_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :student_last_name %>
  </div>

  <div class="field">
    <%= form.label :total_credits %>
    <%= form.number_field :total_credits, id: :student_total_credits %>
  </div>

  <div class="field">
    <%= form.label :gpa %>
    <%= form.text_field :gpa, id: :student_gpa %>
  </div>

  <div class="field">
    <%= form.label :advisor_id %>
    <%= form.number_field :advisor_id, id: :student_advisor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
