<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Total credits:</strong>
  <%= @student.total_credits %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.gpa %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @student.advisor_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
