<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_form_for(@user) do |form| %>

    <br/>
    <div class="field">
      <!--  <%#= form.label :uName %>-->
      <%= form.text_field :uName %>
    </div>

    <div class="field">
      <!--
    <%#= form.label :fName %>
-->
      <%= form.text_field :fName %>
    </div>

    <div class="field">
      <!--
    <%#= form.label :lName %>
-->
      <%= form.text_field :lName %>
    </div>

    <div class="field">
      <!--
    <%#= form.label :email %>
-->
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <!--
    <%#= form.label :password %>
-->
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <!--
    <%#= form.label :password_confirmation %>
-->
      <%= form.password_field :password_confirmation %>
    </div>
    <div class="field">
      <!--
    <%#= form.label :isAdmin %>
-->
      <%= form.text_field :isAdmin %>
    </div>

    <div class="actions">
      <%= form.submit :Submit, class: 'btn btn-success' %>
    </div>
    <br/>
  <% end %>
<% end %>
