<div class="container">


  <p id="notice"><%= notice %></p>
  <h1>Users</h1>

  <br/>

  <table class="table">
    <thead>
    <tr>
      <th class="col">Uname</th>
      <th class="col">Fname</th>
      <th class="col">Lname</th>
      <th class="col">Email</th>
      <th class="col">Admin</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td ><%= user.uName %></td>
        <td ><%= user.fName %></td>
        <td ><%= user.lName %></td>
        <td ><%= user.email %></td>
        <td ><%= user.isAdmin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path, :class => "btn btn-primary text-dark" %>


</div>
