
<nav class="navbar navbar-expand-md bg-primary">
  <div class="navbar-collapse collapse w-100 order-0 order-md-0 dual-collapse2">
    <ul class="navbar-nav">
      <li class="navbar-brand">
        <a class="nav-link text-dark" href="/">Storinator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="<%= %>">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="<%= locations_path %>">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="<%= items_path %>"">Items</a>
      </li>
      <li class="nav-item" id='admins'>
        <a class="nav-link text-dark" href="<%= users_path %>">Administration</a>
      </li>
  </div>
  <div class="order-3">
    <ul class="navbar-nav">
      <li class="nav-item float-right">
        <a class="btn btn-warning text-dark" href="<%= logout_path %>">Logout</a>
      </li>
    </ul>
  </div>
</nav>



<p id="notice"><%= notice %></p>
<h1>Users</h1>

<br/>

<table>
  <thead>
  <tr>
    <th>Uname</th>
    <th>Fname</th>
    <th>Lname</th>
    <th>Email</th>
    <th>Admin</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.uName %></td>
      <td><%= user.fName %></td>
      <td><%= user.lName %></td>
      <td><%= user.email %></td>
      <td><%= user.isAdmin %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-primary text-dark" %>
