<p id="notice"><%= notice %></p>

<p>
  <strong>Uname:</strong>
  <%= @user.uName %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @user.fName %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.lName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
