<div class="container">
  <head>
    <title>Welcome!</title>
  </head>
  <h1>All Items in Stock</h1>
  <tbody>
  <% @loc.each do |location| %>
    </br>
    <h3><%= location.locName %></h3>
    <table class="table">
      <thead>
      <tr>
        <td scope="col">Name</td>
        <td scope="col">Number Available</td>
        <td scope="col">Number In Use</td>
        <td scope="col">Total Items</td>
        <td scope="col">Item Description</td>
      </tr>
      </thead>
      <% @Item.where(locations_id: location.id).find_each do |item| %>
        <tbody>
        <tr>
          <td scope="row"><%= item.iName %></td>
          <td scope="row"><%= item.iAvail %></td>
          <td scope="row"><%= item.iUsed %></td>
          <td scope="row"><%= item.iTotal %></td>
          <td scope="row"><%= item.iDesc %></td>
        </tr>
        </tbody>

      <% end %>
    </table>
  <% end %>
  </tbody>

  </br>
  </br>
  <%= link_to "Excel Spreadsheet", items_path(format: :xlsx), :class => "btn btn-success text-dark" %>

</div>