<div class="container">

  <head>
    <title>Welcome!</title>
  </head>
  <h1>All Items</h1>
  </br>
  <tbody>
  <% @loc.each do |location| %>
    </br>
    <h3><%= location.locName %></h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Number Available</th>
        <th>Number In Use</th>
        <th>Total Items</th>
        <th>Item Description</th>
      </tr>
      <% @Item.where(locations_id: location.id).find_each do |item| %>
        <tr>
          <td><%= item.iName %></td>
          <td><%= item.iAvail %></td>
          <td><%= item.iUsed %></td>
          <td><%= item.iTotal %></td>
          <td><%= item.iDesc %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  </tbody>
</div>