<p id=”notice”><%= notice %></p>
<h1>Welcome,</h1>
<h1><%= session['user_fName']%></h1>
<div>
<%= link_to 'Locations', locations_path %>
<%= link_to 'Items', items_path %>
</div>
<div id='admins'>
<%= link_to 'Admin', users_path %>
</div>
<script type='text/javascript'>
  function isAdmin(){
    var ad = <%= session['user_isAdmin'] %>;
    console.log(ad);
    if(ad === 0){
      document.getElementById('admins').style.display="none";
    }
  };
  isAdmin();
</script>
<p><%= link_to 'Logout', '/logout' %></p>
