<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :iName %>
    <%= form.text_field :iName %>
  </div>

  <div class="field">
    <%= form.label :locations_id %>
    <%= form.text_field :locations_id %>
  </div>

  <div class="field">
    <%= form.label :iAvail %>
    <%= form.number_field :iAvail %>
  </div>

  <div class="field">
    <%= form.label :iUsed %>
    <%= form.number_field :iUsed %>
  </div>

  <div class="field">
    <%= form.label :iTotal %>
    <%= form.number_field :iTotal %>
  </div>

  <div class="field">
    <%= form.label :iDesc %>
    <%= form.text_field :iDesc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
