<nav class="navbar navbar-expand-md bg-primary">
  <div class="navbar-collapse collapse w-100 order-0 order-md-0 dual-collapse2">
    <ul class="navbar-nav">
      <li class="navbar-brand">
        <a class="nav-link text-dark" href="/">Storinator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="<%= %>">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="<%= locations_path %>">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="<%= items_path %>"">Items</a>
      </li>
      <li class="nav-item" id='admins'>
        <a class="nav-link text-dark" href="<%= users_path %>">Administration</a>
      </li>
  </div>
  <div class="order-3">
    <ul class="navbar-nav">
      <li class="nav-item float-right">
        <a class="btn btn-warning text-dark" href="<%= logout_path %>">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Location</th>
      <th>Number Available</th>
      <th>Number In Use</th>
      <th>Total Count</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.iName %></td>
        <td><%= @loc.find_by_id(item.locations_id).locName %></td>
        <td><%= item.iAvail %></td>
        <td><%= item.iUsed %></td>
        <td><%= item.iTotal %></td>
        <td><%= item.iDesc %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, :class => "btn btn-primary text-dark" %>
