<p id="notice"><%= notice %></p>

<p>
  <strong>Locname:</strong>
  <%= @location.locName %>
</p>

<p>
  <strong>Locdesc:</strong>
  <%= @location.locDesc %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
